.App {
  min-height: 100vh;
  padding: 0 32px;
  color: rgba(255, 255, 255, 0.8);
}

.App-header {
  padding: 16px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.timeline {
  white-space: nowrap;
  margin-bottom: 2px;
}

.timeline__unit {
  text-align: center;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px none gray;
  border-left-style: solid;
}

.timeline__unit:last-child {
  border-right-style: solid;
}

.day {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.1);
}

.day--monday {
  color: rgba(255, 255, 255, 0.8);
}

.day--sunday {
  color: rgba(255, 100, 100, 0.8);
}

.period {
  font-size: 10px;
}

.RangeForm {
  display: flex;
}

.RangeForm__fields {
  margin: 16px;
}
